<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.5em 1em;
        margin: 0.5em;
        background-color: #87e484;
        color: white;
        border-radius: 5px;
        font-size: 10px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background-color: #0b82f8;
        color: rgb(66, 61, 61);
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background-color: #446c52;
        /* Background color for the active page */
        color: white;
        /* Text color for the active page */
    }
</style>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="logo">
                <img src="/adminAssets\imgs\icons\logo-01.png" alt="IMG-LOGO">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/adminDashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/Products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/Orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class=" menu-link" href="/admin/userslist">
                        <i class="icon material-icons md-people"></i>
                        <span class="text">users</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/categories">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Categories</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/banners">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Banners</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupons</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/sales">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Sales</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/adminLogout">
                        <span class="text">Logout</span>
                    </a>

                </li>
            </ul>
            <hr />
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <div class="content-header">
            <h2 class="content-title">Product list</h2>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto" id="messageHead">
                        <div class="d-flex">
                            <div class="col-lg-4 col-5 me-auto">
                                <input type="text" id="myInput" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="end">
                                <a href="/admin/add-coupon" class="btn bg-success-light">Add Coupon</a>
                            </div>

                        </div>
                    </div>
                    <div>
                        <h3 id="mssgBox"></h3>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="couponTable" id="dynamicTable">
                        <thead>
                            <tr>
                                <th>Coupon Code</th>
                                <th>Discount Percentage</th>
                                <th>description</th>
                                <th>Quantity</th>
                                <th>eligibleAmount</th>
                                <th>Expires At</th>
                                <th>Edit</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0 ;i < coupons.length ; i++ ) { %>
                                <tr>
                                    <td>
                                        <%= coupons[i].couponCode %>
                                    </td>
                                    <td>
                                        <center>
                                            <%= coupons[i].discountPercentage%>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%= coupons[i].description %>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%= coupons[i].quantity %>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%= coupons[i].eligibleAmount %>
                                        </center>
                                    </td>
                                    <td>
                                        <% const date=coupons[i].expiresOn.toLocaleDateString('en-US', { year: 'numeric'
                                            , month: 'long' , day: 'numeric' , }); %>
                                            <center>
                                                <%=date%>
                                            </center>
                                    </td>

                                    <td>
                                        <a class="badge rounded-pill badge-dark"
                                            href="/admin/edit-coupon/<%=coupons[i]._id%>">
                                            edit
                                        </a>
                                    </td>
                                    <td>
                                        <% if (coupons[i].isListed==false){%>
                                            <a class="badge rounded-pill badge-success"
                                                onclick="listAndUnlist('<%= coupons[i]._id%>',false)">
                                                list
                                            </a>
                                            <%}else{%>
                                                <a class="badge rounded-pill badge-danger"
                                                    onclick="listAndUnlist('<%= coupons[i]._id%>',true)">
                                                    unlist
                                                </a>
                                                <%}%>
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table> <!-- table-responsive.// -->
                    <!-- firstModal --- Edit Category -->

                </div>
            </div>
            <!-- card-body end// -->

        </div>
        <!-- content-main end/ -->

    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="/adminAssets/js/userlist.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#couponTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $(document).ready(function () {
            $('#couponTable').DataTable({
                searching: false,
                lengthChange: false,
                pageLength: 4,
            });
        });
    </script>

</body>

</html>