<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>UserList</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
        integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="logo">
                <img src="/adminAssets\imgs\icons\logo-01.png" alt="IMG-LOGO">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/adminDashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/Products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/Orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class=" menu-link" href="/admin/userslist">
                        <i class="icon material-icons md-people"></i>
                        <span class="text">users</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/categories">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Categories</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/banners">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Banners</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupons</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/sales">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Sales</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/adminLogout">
                        <span class="text">Logout</span>
                    </a>

                </li>
            </ul>
            <hr />
            <br />
            <br />
        </nav>
    </aside>
    <div class="preloader"></div>
    <main class="main-wrap" >
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>

                </ul>
            </div>
        </header>
        <section class="content-main" >
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: 3453012</p>
                </div>
            </div>
            <div class="card" >
                <header class="card-header">
                    <div class="row align-items-center" >
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span> <i class="material-icons md-calendar_today"></i> <b>
                                    <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric' , month: 'long' ,
                                        day: '2-digit' }).format(orders.orderedDate) %>
                                </b>
                            </span> <br />
                            <small class="text-muted">Order ID: 3453012</small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <% if(orders.status=='Delivered' ||orders.status=='Cancelled' ){%>
                                <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200" id="selectStatus"
                                    disabled>
                                    <option value="Delivered" <% if (orders.status=='Delivered' ) { %> selected <% } %>
                                            >delivered</option>
                                    <option value="Cancelled" <% if (orders.status=='Cancelled' ) { %> selected <% } %>
                                            >Cancelled</option>
                                </select>
                                <%}else{%>
                                    <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200" id="selectStatus"
                                        onchange="status('<%=orders._id%>')">
                                        <option value="Placed" <% if (orders.status=='placed' ) { %> selected <% } %>
                                                >placed</option>
                                        <option value="Out For Delivery" <% if (orders.status=='Out For Delivery' ) { %>
                                            selected <% } %>>out for delivery</option>
                                        <option value="Shipped" <% if (orders.status=='shipped' ) { %> selected <% } %>
                                                >shipped</option>
                                        <option value="Delivered" <% if (orders.status=='Delivered' ) { %> selected <% }
                                                %>
                                                >delivered</option>
                                        <option value="Cancelled" <% if (orders.status=='Cancelled' ) { %> selected <% }
                                                %>
                                                >Cancelled</option>
                                        <option value="Return Requested" <% if (orders.status=='Return Requested' ) { %>
                                            selected <% } %>
                                                >Return Requested</option>
                                        <option value="Returned" <% if (orders.status=='Returned' ) { %>
                                            selected <% } %>
                                                >Return Requested</option>
                                    </select>
                                    <%}%>
                                        <a class="btn btn-primary" href="#">Save</a>
                                        <a class="btn btn-secondary print ms-2" href="#"><i
                                                class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%=orders.user.name%> <br />
                                            <%=orders.user.email%> <br />
                                                <%=orders.user.mobile%>
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br />
                                        Pay method: <%= orders.paymentStatus %> <br />
                                            Status: <%= orders.status %>
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: <%=orders.address[0].city%> <br />
                                            <%=orders.address[0].colony%> <br />
                                                <%=orders.address[0].house%>
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                    </div>
                    <!-- row // -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%let SubTotalPrice=0 %>
                                            <% for(let i=0 ; i< orders.products.length ; i++){%>
                                                <tr>
                                                    <td>
                                                        <a class="itemside" href="#">
                                                            <div class="left" style="width: 60px; height: 60px;">
                                                                <img src="/multerimages/<%= orders.products[i].product.images[0]%>"
                                                                    style="height: 60px; width: 60px;" class="img-xs"
                                                                    alt="Item" />
                                                            </div>
                                                            <div class="info">
                                                                <%= orders.products[i].product.productName%>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <%= orders.products[i].product.price %>
                                                    </td>
                                                    <td>
                                                        <%= orders.products[i].quantity %>
                                                    </td>
                                                    <td class="text-end">
                                                        <%= productTotal=orders.products[i].product.price *
                                                            orders.products[i].quantity%>
                                                    </td>
                                                </tr>
                                                <% SubTotalPrice=SubTotalPrice + productTotal %>
                                                    <%}%>

                                                        <tr>
                                                            <td colspan="4">
                                                                <article class="float-end">
                                                                    <dl class="dlist">
                                                                        <dt>Subtotal:</dt>

                                                                        <dd>
                                                                            <%=SubTotalPrice%>
                                                                        </dd>
                                                                    </dl>
                                                                    <dl class="dlist">
                                                                        <dt>Shipping cost:</dt>
                                                                        <dd>60</dd>
                                                                    </dl>
                                                                    <dl class="dlist">
                                                                        <dt>Grand total:</dt>
                                                                        <dd><b class="h5">
                                                                                <%= SubTotalPrice + 60%>
                                                                            </b></dd>
                                                                    </dl>
                                                                    <dl class="dlist">
                                                                        <dt class="text-muted">Status:</dt>
                                                                        <dd>
                                                                            <span
                                                                                class="badge rounded-pill alert-success text-success">Pending
                                                                                </span>
                                                                        </dd>
                                                                    </dl>
                                                                </article>
                                                            </td>
                                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive// -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            const status = async (orderId) => {
                const selectStatus = document.getElementById('selectStatus').value;
                const response = await fetch(`/admin/status?id=${orderId}&&status=${selectStatus}`, {
                    method: "PATCH",
                });

                if (response.ok) {
                    const jsonRes = await response.json();
                    if (jsonRes.status === 'success') {
                       location.reload(true)
                    }
                } else {
                    console.error('Request failed ', response.status);
                }
            }
        </script>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>

                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="/adminAssets/js/userlist.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>