<%- include('../layouts/header') -%>
    <div style="width: 100%; height: 77px; background-color: white;"></div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/profile">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="card card-dashboard">
                        <div class="card-body">
                            <h3 class="card-title">Delivery Address</h3>
                            <p>Name: <%= order.address[0].name %><br>
                                    Mobile: <%= order.address[0].mobile %><br>
                                        State: <%= order.address[0].state %><br>
                                            City: <%= order.address[0].city %><br>
                                                House Name: <%= order.address[0].house %><br>
                                                    Pincode: <%= order.address[0].pincode %><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card card-dashboard">
                        <div class="card-body">
                            <h3 class="card-title">Order Summary</h3>
                            <p>OrdeId: <%= order._id %><br>
                                    Date: <%= order.orderedDate.toLocaleDateString('en-US', { year:'numeric',
                                        month: 'short' , day: '2-digit' }).replace(/\//g, '-' ) %><br>
                                        Time: <%= order.orderedDate.toLocaleTimeString(); %><br>
                                            Items: <%= order.products.length %><br>
                                                Shipping:<%= order.shippingMethod %><br>
                                                    Total Amount: <%= order.totalAmount %><br>
                                                        Payment Method: <%= order.paymentStatus %><br>
                                                            <%if(order.couponUsed){ %>
                                                                Used Coupon :<%= order.couponUsed %>
                                                                    <br>
                                                                    <%}%>
                                                                        Status: <%= order.status %><br>
                                                                            <% if(order.status=="Cancelled" ) { %>
                                                                                cancel Reason:<%= order.cancelReason %>
                                                                                    <% } %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card card-dashboard">
                        <div class="card-body">
                            <h3 class="card-title">Invoice Download</h3>
                            <button style="background-color: rgb(51, 49, 49); padding: 4px; border-radius: 2px;"
                                onclick="downloadInvoice('<%= order._id %>')">
                                <span style="color: goldenrod;">
                                    Download
                                </span>

                            </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-b-45">
                <h4 class="ltext-106 cl5 txt-center">
                    Products
                </h4>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-dashboard">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                            <th class="text-end">Action</th> <!-- Add a column for the button -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <% order.products.forEach(function(product, index) { %>
                                                <tr>
                                                    <td>
                                                        <img src="/multerimages/<%= product.product.images[0] %>" alt=""
                                                            class="img-thumbnail" style="max-width: 80px;">
                                                    </td>
                                                    <td>
                                                        <a href="/product?_id=<%= product.product._id %>">
                                                            <%= product.product.productName %>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <%= product.quantity %>
                                                    </td>
                                                    <td> ₹<%= product.product.price %>
                                                    </td>
                                                    <td> ₹<%= product.quantity * product.product.price %>
                                                    </td>
                                                    <td>

                                                        <% if (product.status==='Delivered' ) { %>
                                                            <button type="button" class="btn btn-dark btn-sm"
                                                                onclick=" returnProduct('<%= product.product._id %>','<%= order._id %>')">Return</button>
                                                            <% }else if(product.status=='Placed' ){%>
                                                                <button type="button" class="btn btn-dark btn-sm"
                                                                    onclick="">Cancell</button>
                                                                <%}else if(product.status=='Return Requested' ){%>
                                                                    <div id="actionDiv">
                                                                        <p>Product Returned</p>
                                                                    </div>
                                                                    <%}else if(product.status ==='Return Rejected'){%>
                                                                        <div>
                                                                            <p>Return Request is rejected</p>
                                                                        </div>
                                                                        <%}%>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%; height: 77px; background-color: white;"></div>
        </div>
    </main><!-- End .main -->

    <script src="userAssets/js/orderDetails.js"></script>
    <%- include('../layouts/footer') -%>