<%-include('../layouts/header')-%>
	<!-- Product -->
	<div style="height: 30px;">

	</div>
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5  filter-tope-group" default="true"
						data-filter="all">
						All Products
					</button>
					<% for(let i=0 ; i < category.length ;i++){%>
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5  filter-tope-group"
							data-filter="<%=category[i].name%>">
							<%= category[i].name %>
						</button>
						<%}%>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer trans-04 m-r-8 m-tb-4 ">
						<div class="searchInput">
							<input type="search" name="search" id="search" placeholder="Search">
							<button type="button" class="narrow-button" id="searchBtn">
								<i class="fas fa-search" style="color: burlywood;"></i>
							</button>
						</div>
					</div>
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div>
				</div>

				<!-- Search product -->



				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<li class="p-b-6">
								<a class="filter-link stext-106 trans-04 filter-link-active" id="sortByLowToHigh"
									data-sort="1">
									Price: Low to High
								</a>
							</li>
							<li class="p-b-6">
								<a class="filter-link stext-106 trans-04 filter-link-active" id="sortByHighToLow"
									data-sort="-1">
									Price: High to Low
								</a>
							</li>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$0.00 - $50.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$50.00 - $100.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$100.00 - $150.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$150.00 - $200.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$200.00+
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>

							<ul>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Black
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Blue
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Grey
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Green
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Red
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										White
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="container productContainer" id="productDiv">
			<div class="row isotope-grid poductsContainer" id="data-container">
				<%if(products.length>0){%>
					<% for(let i=0 ; i< products.length; i++){%>
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women"
							data-category="<%=products[i].category%>">
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="multerimages/<%=products[i].images[0]%>" alt="IMG-PRODUCT">
									<a href="/productlist?productId=<%=products[i]._id%>"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
										Quick View
									</a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="product-detail.html"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											<%=products[i].productName%>
										</a>
										<span class="stext-105 cl3">
											<%=products[i].price%>
										</span>
									</div>
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
						<%}%>
							<%}else{%>
								<h4>No products found</h4>
								<%}%>
			</div>
		</div>
		<!-- Load more -->
		<div class="flex-c-m flex-w p-t-10">
			<div class="block-27">
				<ul id="page-select">
					<li id="page-lt">
						<button>
							<span>&lt;</span>
						</button>
					</li>
					<li data-filter="1">
						<button id="page-1" >
							1
						</button>
					</li>
					<li id="page-2" data-filter="2">
						<button>
							2
						</button>
					</li>
					<li id="page-3" data-filter="3">
						<button >
							3
						</button>
					</li>
					<li id="page-gt">
						<button>
							<span>&gt;</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="userAssets/js/shop.js"></script>
	<%-include('../layouts/footer.ejs')-%>